doctype html
html(lang="en")
    head
        title Tweet! 
        link(rel='stylesheet',href='"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"')
    body    
          form(action='/deletetweet', method='post')
            label Please enter the ID of the tweet you would like to delete
            input(type='text', name='tweet')
            button(type='submit') Submit