doctype html
html(lang="en")
    head
        title Tweet! 
        link(rel='stylesheet',href='"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"')
    body    
        form(action = "/", method= 'get')
            button(type='submit') Home 
        if id
            h2  Tweet was deleted!
            a(href='https://twitter.com/KandasamyRamya') Please check to make sure the tweet was deleted!
            p Tweet ID was: 
            p= id
        else
            h2 Error With Id
            p=err